@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #2172f0;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #ffffff;
    overflow-x: hidden;
  }
}
